.AdmAccWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderFrom {
  margin-top: -4vh;
}

.HeaderCuisine {
  margin-top: 3vh;
}

.ButtonAddDishPosition {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.FoodItemInList {
  display: flex;
  flex-direction: column;
}

.FoodItemInListPosition {
  /*flex-direction: column;*/
  border: 0.5vw solid black;
  width: 65vw;

  margin-top: 20px;

  padding: 3vw;
  border-radius: 5vw;
}

.FoodItemInListInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-left: 6vw;
  margin-top: 10px;
}

.FoodItemInListInfo h1 {
  font-size: 3vh;
}

.FoodItemInListInfo div {
  font-size: 2vh;
}

.FoodItemInListImage {
  width: 50vw;
  height: 100%;

  border-radius: 4vw;
}

@media (min-width: 800px) {
  .FoodItemInListImage {
    width: 30vw;
    height: 100%;

    border-radius: 4vw;
  }
  .FoodItemInList {
    display: flex;
    flex-direction: row;
  }
  .FoodItemInListInfo {
    margin-top: -10px;
  }

  .FoodItemInListInfo h1 {
    font-size: 3vw;
  }

  .FoodItemInListInfo div {
    font-size: 2vw;
  }
}

.VeggieText {
  color: green;
  font-weight: 700;
}

.CircleButtonPosition {
  /*position: absolute;*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ButtonDeleteWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 15vh;
}

.ButtonDeleteWrapper button {
  margin-top: 5vh;
}
