* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
}

.inside {
  margin-top: 11vh;
  margin-bottom: 11vh;
  min-height: 68vh;

  max-width: 98vw !important;
}


.MyButton {
  display: inline-block;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 44px;

  border: 3px solid black;
  border-radius: 50px;
  color: black;

  font-weight: 700;
  font-size: 16px;

  text-decoration: none;

  min-width: 190px;

  transition: border 0.2s ease-in, background-color 0.2s ease-in;
}

.MyButton:hover {
  background-color: crimson;
  border: 3px solid crimson;

  color: white;
}

.MyButton div {
  transition: color 0.6s ease-in;
}

.MyButton:hover div {
  color: white;
}

.MyButton svg {
  transition: fill 0.6s ease-in;
}

.MyButton:hover svg {
  fill: white;
}
